@import "~antd/dist/antd.css";

.logo {
  float: left;
  height: 100%;
  /* width: 10rem; */
  /* height: 2rem; */
  /* margin: 1rem 2rem 1rem 0; */
  /* background: rgba(255, 255, 255, 0.3); */
}

.site-layout-background {
  background: #fff;
}

.header .ant-dropdown-link {
  float: right;
  color: white;
}

.site-layout-background .noti-card {
  width: 100%;
  margin: auto;
}

#noti-filter-button {
  margin: 1rem 0 1rem 22px;
  width: 50%;
}

.ant-dropdown-menu {
  border-radius: 1rem;
}

.ant-layout-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  overflow: auto;
  padding: 2rem;
  margin: 0rem;
  min-height: 20rem;
}

#chat-input {
  border-radius: 1rem;
}

#chat-btn {
  border-radius: 1rem;
}

.anticon-bell {
  font-size: 1.5rem;
  /* margin-left: 6rem; */
  float: right;
  margin: 1rem 1rem 1rem 0rem;
}

.ant-layout-sider::-webkit-scrollbar {
  width: 2px;
}

.ant-layout-sider::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 1px;
}

.ant-layout-sider {
  min-width: 20%;
}

#profile-options {
  width: 10rem;
}
/* #main-content {
    height: "calc(100vh - 64px)";
} */

button {
  border-radius: 25px !important;
}

.ant-card-head {
  background-color: rgba(128, 172, 233, 1);
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: white;
  text-align: center;
}

.ant-card-grid {
  box-shadow: 0px 0px !important;
}

.course-card-content {
  font-size: small;
  font-style: italic;
  font-weight: bold;
}
