.ant-form-item-label {
    margin-top: 0rem !important;
}

/* .profile-input {
    display: inline-block;
}

.profile-form {
    display: inline-block;
} */

.ant-modal {
    padding-bottom: 0rem !important;
}